body{
    background-color: darkgray;
}
.container{
    display: flex;
    justify-content: center;
}
.hidden {
    display: none;
}

#dropdownContent {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    padding: 10px;
    position: absolute;
    z-index: 1;
}

